# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# All files
[*]
indent_style = space

# Xml files

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none

[*.xml]
indent_size = 2

# Rules
file_header_template = Written by Kevin de Haan (github.com/kdehaan)
